@model Web.Areas.Admin.ViewModels.InvoicesCreateEditViewModel


    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Resources.Common.Create</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                    @Html.Partial("_CreateEdit", Model)
                    <button type="submit" id="order_add">+</button>
                    <div class="form-group">
                        @*@Html.TextBoxFor(model => model.Orders[2].Pizzas[0].PizzaId)*@
                    </div>   
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">@Resources.Common.Create</button>
                    @Html.ActionLink(Resources.Common.Cancel, "Index", new { }, new { @class = "btn btn-danger" })
                </div>
            </form>
        </div>
    }
@section scripts
{
    <script type="text/javascript">

        var x = 0;
        @{ var x = 0; }
        $(document).on('click', '.btn-del', function (e) {

            console.log("Del btn clicked");
            e.preventDefault();
            $(this).append('@Html.HiddenFor(model => model.Orders[0].Deleted, true)');
            $(this).parent().parent().hide();

        });
        $(document).on('click', '.btn-add-pizza', function (e) {

            console.log("Pizza Add Button Clicked");
            e.preventDefault();
            $(this).siblings('table').find('tbody').append('<tr><td>1.</td><td>Hawai</td><td>Pizza</td><td>Medium</td><td>9,60</td><td><a href="#" class="btn-del">-</a></td></tr>');

        });
        $(document).on('click', '.btn-add-drink', function (e) {

            console.log("Drink Add Button Clicked");
            e.preventDefault();
            $(this).siblings('table').find('tbody').append('<tr><td>1.</td><td>Coca cola</td><td>Drink</td><td>Medium</td><td>1,50</td><td><a href="#" class="btn-del">-</a></td></tr>');

        });

                    $("#order_add")
                        .click(function (e) {
                            console.log("Order Add Button Clicked");
                            e.preventDefault();
                            $(this).parent().append('<div class="box"><div class="box-header with-border"><input id="Orders_' + x + '__Deleted" name="Orders[' + x + '].Deleted" type="hidden" value="true"><h3 class="box-title">Partial Order ' + x + '</h3> </div><div class="box-body"> <table class="table table-bordered"><tbody><tr><th style="width: 10px">#</th><th>Name</th><th>Type</th><th>Size</th><th>Price</th><th style="width: 40px">Action</th></tr></tbody></table><button type="submit" class="btn-add-pizza">Add a pizza</button><button type="submit" class="btn-add-drink">Add a drink</button></div></div>');
                            x++;
                        });
                    $(".pizza_add")
                        .click(function (e) {
                            console.log("Pizza Add Button Clicked");
                            e.preventDefault();
                            $(this).siblings('table').find('tbody').append('<tr><td>1.</td><td>Hawai</td><td>Pizza</td><td>Medium</td><td>9,60</td><td><a href="#" class="btn-del">-</a></td></tr>');
                        });
                    $(".ap_add")
                        .click(function (e) {
                            console.log("Drink Add Button Clicked");
                            e.preventDefault();
                        });
                    $(function () {
                        //Initialize Select2 Elements
                        $(".select2").select2();
                    });


    </script>
}    