@model Domain.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.CouponId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coupon.CouponId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumWOCoupon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumWOCoupon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomersName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomersName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
