@using System.Web.UI.WebControls
@model IEnumerable<Domain.Pizza>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Pitsad</h3> <!-- VAJAB MUUTMIST -->
            </div><!-- /.box-header -->
            @Html.ActionLink("Lisa Pitsa", "Create", new {}, new { @class = "btn btn-block btn-primary btn-flat" })
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nimetus</th>
                            <th>Komponendid</th>
                            <th>Suurused / Hinnad</th>
                            <th>Tegevused</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.PizzaDescription.Value)</td>
                                <td></td>
                                <td>@Html.ActionLink("Edit", "Edit", new { id = item.PizzaId }) | @Html.ActionLink("Delete", "Delete", new { id = item.PizzaId })</td>
                            </tr>
                        }
                    <tfoot>
                        <tr>
                            <th>Nimetus</th>
                            <th>Komponendid</th>
                            <th>Suurused / Hinnad</th>
                            <th>Tegevused</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaDescription.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PizzaDescription.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PizzaId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PizzaId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PizzaId })
            </td>
        </tr>
    }

    </table>*@
