@model List<Domain.Coupon>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@Resources.Manage.Coupons_Header</h3>
            </div><!-- /.box-header -->
            @Html.ActionLink(Resources.Manage.Coupons_Add, "Create", new { }, new { @class = "btn btn-block btn-primary btn-flat" })
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Code)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().IsReusable)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().HasBeenUsed)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().EndDate)</th>
                            <th>@Resources.Common.Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td><input type="checkbox" checked="@item.IsReusable" disabled="true" /></td>
                                <td><input type="checkbox" checked="@item.HasBeenUsed" disabled="true" /></td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@Html.ActionLink(Resources.Common.Edit, "Edit", new { id = item.CouponId }) | @Html.ActionLink(Resources.Common.Delete, "Delete", new { id = item.CouponId })</td>
                            </tr>
                        }
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Code)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().IsReusable)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().HasBeenUsed)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().EndDate)</th>
                            <th>@Resources.Common.Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
