@using System.Threading
@using Microsoft.AspNet.Identity
@{
    var titleTag = (string.IsNullOrWhiteSpace(ViewBag.Title) ? "" : ViewBag.Title + " - ") + Resources.Common.ApplicationName;

    // set up global js variable, to hold culture code
    // it is later used for globalize, cldr and moment
    var currentCultureCode = "root";
    switch (Thread.CurrentThread.CurrentCulture.ToString())
    {
        case "et-EE":
            currentCultureCode = "et";
            break;
        case "en-US":
            currentCultureCode = "en";
            break;
        default:
            currentCultureCode = Thread.CurrentThread.CurrentCulture.ToString();
            break;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@titleTag</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/mainpage")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var currentCultureCode = '@currentCultureCode';
    </script>
    @RenderSection("headerscripts", required: false)
</head>
<body>
    <div class="nav-bar">
        <div class="container">
            <div class="logo">
                <img src="~/Content/img/logo.png" />
            </div>
            <div class="nav">
                <ul>
                    <li>@Html.ActionLink("Avaleht", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Meist", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Menüü", "Index", "Menu", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Uudised", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Kontakt", "Index", "Home", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        @RenderBody()    
    </div>
    <div class="footer">
        <div class="container">
            <p>Pizza Center - 2016</p>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/cldr")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")



    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)
</body>
</html>