@model List<Domain.PaymentMethod>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@Resources.Manage.PaymentMethods_Header</h3>
            </div><!-- /.box-header -->
            @Html.ActionLink(Resources.Manage.PaymentMethods_Add, "Create", new { }, new { @class = "btn btn-block btn-primary btn-flat" })
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PaymentMethodName)</th>
                            <th>@Resources.Common.Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PaymentMethodName</td>
                                <td>@Html.ActionLink(Resources.Common.Edit, "Edit", new { id = item.PaymentMethodId }) | @Html.ActionLink(Resources.Common.Delete, "Delete", new { id = item.PaymentMethodId })</td>
                            </tr>
                        }
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PaymentMethodName)</th>
                            <th>@Resources.Common.Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
